fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1
python-multipart==0.0.19
tensorflow==2.18.0
tf-keras==2.18.0
librosa==0.10.2.post1
numpy==1.26.4
soundfile==0.12.1
